@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #03A3D5;
}
::-moz-selection {
	color: #fff;
	background-color: #03A3D5;
}

.themetext1
{
	color : #03A3D5;
	opacity:0.5;
	
}
.portfolio-img
{
	width:100%;
	height:600px;
	background-size:100% 100%;
	  filter: grayscale(100%);
	    box-shadow: 0 0 30px 50px white inset;
		transition:All 0.5s;

}
.portfolio-img:hover
{
	 filter:none;
}
/* #landing top
================================================== */


.landing-header
{
	font-size:70px;
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
}
.landing-header span
{
	display:inline-block; 

	background-image:url(../img/brush1.png); 
	background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
	background-position:center;
	background-size:100% 60px;
	background-repeat:no-repeat;
}
.landing-left
{
	padding:50px !important;	
}
.landing-desc
{
	font-weight:bold;
	font-size:14px;
	letter-spacing:2px;
}
.btn-theme
{
	margin:20px 0px;
	background:#000;
	color:#fff;
	padding:10px 20px;
	letter-spacing:3px;
	font-weight:bolder !important;
}
.btn-theme-light
{
	margin:20px 0px;
	background:#fff;
	color:#000;
	padding:10px 20px;
	letter-spacing:3px;
	font-weight:bold;
}
.donation
{
	margin:30px 0px;
	background:#000;
	padding:50px 40px;
	position:absolute;
	left:0;
	width:120%;
	z-index:1
	
}
.clear{
	clear:both;
	
}
.space
{
	min-height:250px;
}
.services
{
	padding:0px 100px !important;
	background:url(../img/dot.png);
	background-size:600px 400px;
	margin:50px 0px;
}
.service-card
{
	border:0px;
	text-align:center;
	background-position:center;
	background-size:200px 200px;
	background-repeat:no-repeat;
	transition:all 1s ease;
	
}
.service-card:hover
{
	background-image:url(../img/brush1.png);
	background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
	background-position:center;
	background-size:200px 200px;
	background-repeat:no-repeat;
}
.service-card:hover .card-title
{
	color:#fff;
}
.service-card .card-img-top
{
	width:60px;
	margin:0px auto;
}
.service-card .card-body
{
	color:#000;
}
.service-card .card-title
{
	font-weight:bold;
	font-size:20px;
}
.done-section
{
	
	margin:10px 0px;
}
.section-header
{
	text-align:center;
	font-size:100px;
	color:#000;
	background-image:url(../img/brush1.png); 
	background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
	background-position:center;
	background-size:70% 100px;
	background-repeat:no-repeat;
}
.small-section-header
{
	text-align:center;
	font-size:50px;
	color:#000;
	background-image:url(../img/brush1.png); 
	background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
	background-position:center;
	background-size:70% 100px;
	background-repeat:no-repeat;
}
.grid-1
{
	height:200px ;
	width:200px ;
	background-size:100% 100% !important;
	float:left;
	border:10px solid #03A3D5;
	position:absolute;
}
.grid-2
{
	height:400px ;
	width:600px ;
	background-size:100% 100% !important;
	float:left;
	margin-left:150px;
	
}
.grid-3
{
	height:250px ;
	width:300px ;
	background-size:100% 100% !important;
	float:left;
	margin-top:-150px;
	border:10px solid #fff;
}
.grid-4
{
	height:200px ;
	width:200px ;
	background-size:100% 100% !important;
	float:right;
	margin-top:-100px;
	border:10px solid #03A3D5;
}
.section-desc
{
	font-weight:bold;
	text-align:center;
	letter-spacing:1px;
	font-size:20px;
}
.section-para
{
	text-align:justify;
	margin:10px 0px;
	font-size:14px;
}
.featured
{
	min-height:50vh;
	background-size:100% 100%;
	padding:0px !important;
	margin:40px 0px;
}
.featured-overlay
{
	background:	 linear-gradient(to bottom, rgba(0, 0, 0,1) 10%, rgba(0,0,0,0.3) 30%,rgba(0, 0, 0,1) 100%);
	height:70vh;
	padding:40px;
}
.featured-header
{
	color:#fff;
	text-align:center;
	font-size:80px;
	
    background-blend-mode: lighten;
	background-position:center;
	background-size:70% 100px;
	background-repeat:no-repeat;
}
.special-mentioned
{
	margin-top:-30px;
}
.featured-image img
{
	border:10px solid #fff;
}

.carousel-control-sec
{
	display:block;
	right:0;
	float:right;
	margin:0px auto;
}
.carousel-control-left
{
	border:2px solid #000;
	width:10px !important;
}
.carousel-control-right
{
	border:2px solid #000;
	width:10px;
	margin-left:10px;
}
.carousel-control {
  position:relative !important;
  display:block;
  opacity:0.7 !important;
  width:50px !important;
  height:50px;
  padding:10px !important;
  float:left;
}
.carousel-control-sec
{
	min-height:50px;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev
{
	font-size:20px !important;
}
@media all and (min-width: 768px) {
	
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -33.3%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 33.3%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(33.3%, 0, 0);
            transform: translate3d(33.3%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-33.3%, 0, 0);
            transform: translate3d(-33.3%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.carousel-control:hover, .carousel-control:focus {
	opacity: 1;
}

.carousel-control, .carousel-control {
	opacity: 1;
}

@media all and (min-width: 1600px) {
	.carousel-main-container {
		width: 66.66666667%;
		margin-left: 16.66666667%;
	}
}

.glyphicon {
	color:#000;
	top: 60px;
}

@media all and (min-width: 768px) {
	.glyphicon {
		top: 62px;
	}
}


@media all and (min-width: 992px) {
	.glyphicon {
		top: 65px;
	}
}

@media all and (max-width: 767px) {
	.glyphicon-menu-right {
		margin-left: 20px;
	}

	.glyphicon-menu-left {
		right: 28px;
	}
}

.stories-card
{
	border:0px;
	transition:all 0.5s;
}
.stories-card .card-img-top
{
	height:200px;
	width:80%;
	margin:0px auto;
	transition:all 0.5s;
}
.stories-card .card-img-top img
{
	height:100%;
	width:100%;
}
.stories-card .card-title
{
	font-weight:bold;
	font-size:20px;
	text-transform:capitalize;
	padding:10px 0px;
}
.stories-card .card-text
{
	text-align:justify;
	font-size:14px;
}
.stories
{
	padding:100px 0px;

}
.stories-card:hover
{
	background:#000;
	color:#fff;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
}
.stories-card:hover .card-img-top
{border:10px solid #fff;
}
.dontane-now
{
	min-height:400px;
	background-size:cover;
}
.donate-now-overlay:before
{
	 content:' ';
	 display:block;
	 width:400px !important;
	 min-height:100px !important;
	 background:url('../img/brush1.png'); 
	 background-size: 400px 100px; 
	 background-repeat: no-repeat;
	position:relative; /*or absolute*/
	left:-50px;
	  transform: rotate(-20deg);
	background-position:top left;
}
.donate-now-overlay:after
{
	 content:' ';
	 display:block;
	 width:400px !important;
	 min-height:150px !important;
	 background:url('../img/brush1.png'); 
	 background-size: 400px 100px; 
	 background-repeat: no-repeat;
	position:relative; /*or absolute*/
	right:-50px;
	  transform: rotate(-20deg);
	background-position:bottom right;
	float:right;
}
.btn
{
	font-weight:bold !important;
}
.donate-now-overlay
{
	background:rgba(0,0,0,0.8);
	min-height:400px;
}
.donate-head
{
	text-align:center;
	font-size:70px;
	font-weight:bold;
}
.n-cta h1
{
	font-size:20px ;
	color:#000;
	font-weight:bold;
}
.n-cta img
{
	width:50px;
	float:left;
}
.social-icon
{
		list-style:none;
}
.social-icon a li
{
	color:#000;
	font-size:50px;
	float:left;
	width:100px;
}
footer
{
	padding-top:40px;
}
.footer-top
{
	border-bottom:1px solid #03A3D5;
}
.footer-bottom
{
	padding:40px 0px;
	background:#000;
}
.footer-link
{
	list-style:none;
}
.footer-link li a
{
	color:#fff;
	font-weight:bold;
	font-size:16px;
	text-transform:capitalize;
	border-right:1px solid #fff;
	padding:0px 10px;
}
.footer-link li 
{
	float:left;
	padding:0px 10px
}
.footer-link li:last-child a
{
	border-right:0px;
}
a
{
	text-decoration:none!important;
}
a:hover
{
	text-decoration:none !important;
}
/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 5px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 28px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 52px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #03A3D5 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #03A3D5;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
.switched {
	border-color: #000 !important;
	background: #03A3D5 !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

body.dark{
	color: #fff;
	background-color: #1f2029;
}
body.dark h1{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}
